<{//Android培训}>
<extend name="Common/Base" />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<p class="contentTitle font12 pl10">
				<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; Android培训
			</p>
			<p class="lessonsBoxTit tahoma">
				<strong>Android</strong>
			</p>
			<ul class="lessonsBoxTab" id="lessonsBoxTab">
				<li class="current"><a href="javascript:;">Android优势</a></li>
				<li><a href="javascript:;">课程内容</a></li>
			</ul>
			<div class="lessonsBox" id="lessonsBox">
				<div class="lessonsAboutBox">
					<div class="lessonsAboutBoxTop font14">
						目前中国拥有世界上最大的手机用户群，国内三大运营商如火如荼的3G营销战持续升温，再加上3G的推出对整个行业的巨大推动作用，无疑将引爆3G手机开发工程师这个黄金职位。每天有超过16万台的Android设备出货，全世界所有大中小型手机制造商几乎都在招聘Android工程师，但符合条件的Android工程师屈指可数，在未来几年，Android开发工程师将成为3G行业炙手可热的岗位之一。
					</div>
					<div class="lessonsAndroidAdvantage">
						<ul>
							<li>
								<p class="title">IDC：2015年Android市场份额将达到45%</p>
								<p>IDC预计，2015年Android市场份额将达到45.4%，成为全球最大智能手机操作系统。</p>
							</li>
							<li>
								<p class="title">IDC：2011年智能手机出货量将超过4.5亿部</p>
								<p>2011年全球智能手机市场规模将增长49.2%，出货量将超过4.5亿部，而2010年为3.034亿部。</p>
							</li>
							<li>
								<p class="title">2013年移动开发人才需求20万，未来人才需求缺口将达百万</p>
								<p>随着Android平台的扩张，引发了Android人才荒，2013年移动开发人才需求20万，未来人才需求缺口将达百万。3G人才全球紧缺，实用人才培养已迫在眉睫。</p>
							</li>
							<li>
								<p class="title">51job：有1年开发经验的Android工程师月薪在8000元左右</p>
								<p>前程无忧：4月对Android工程师的招聘量比3月增加了23%，Android工程师以手机开发为主要对象，有一年开发经验的Android工程师的月薪在8000元左右。</p>
							</li>
						</ul>
					</div>
					<div class="AndroidEngineersBox">
						<p>Android工程师是指从事Android移动操作系统、游戏和各种Android功能平台的应用、开发和测试的技术人员。</p>
					</div>
					<div class="AndroidSuperiorityBox">
						<ul>
							<li>专注 专注于移动互联网相关的技术。</li>
							<li>资深专业的讲师 8年软件开发管理经验，2.5年Android开发经验，实战派Android讲师，来自华为。</li>
							<li>专业完善的Android课程体系，从语言到应用系统讲解Android相关技术，绝不像有些培训机构只讲C或JAVA语言凑时间，而少讲Android。</li>
							<li class="lastSuperiority">最真实的企业级的项目案例，有些商业项目还支付报酬，最大程度提升学员的技术实战能力，毕业就能完全符合就业需求，还没毕业就能赚回学费！</li>
						</ul>
					</div>
				</div>
				<div class="lessonPlanBox displayNone">
					<img src="__PUBLIC__/Resources/Images/Front/AndroidLessonPlanTop.gif" alt="Android精品班课程内容" />
					<div class="lessonPlanListTop clearfix">
						<span class="lessonPlanListTit displayBlock left">课程主题</span><span
							class=" displayBlock left pl10">课程内容</span>
					</div>
					<table class="lessonPlanList">
						<thead>
							<tr>
								<th colspan="2">第一阶段JAVA基础</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="lessonPlanListTit">JAVA基础</td>
								<td>Java开发环境搭建，Java虚拟机原理，Java的数据类型，运算符，表达式，数组，流程控制等Java基础编程知识。</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">JAVA面向对象</td>
								<td>抽象类、接口、内部类、类的继承、多态等面向对象高级编程知识</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">JAVA核心</td>
								<td>数据结构，集合、队列、数、图，以及常用的排序和查找算法</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="2">第二阶段Web开发基础</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="lessonPlanListTit">数据库</td>
								<td>关系型数据库中表、事务以及SQL语句</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">XML</td>
								<td>XML语法 XML解析</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">HTML/CSS</td>
								<td>HTML基本文档结构、链接、列表、表格、表单，CSS基础语法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">Javascript</td>
								<td>语言基础、事件模型 DOM编程</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="2">第三阶段 Android基础</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="lessonPlanListTit">开发环境搭建</td>
								<td>Android SDK ADT的设置及用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">Android项目结构</td>
								<td>Android项目的文件夹结构及功能</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">UI组件</td>
								<td>文本、按钮、列表、复选框、图片按钮等界面组件的使用方法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">布局管理器</td>
								<td>线性布局、相对布局等常用布局管理器的用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit"><p></p>四大组件
									</p>
									<p>Activity</p>
									<p>Service</p>
									<p>BroadcastReceiver</p>
									<p>ContentProvider</p></td>
								<td><p>Activity的生命周期</p>
									<p>服务的生命周期</p>
									<p>服务的启动方式</p>
									<p>广播接收者的用法</p>
									<p>内容提供者的用法</p></td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">布局管理器</td>
								<td>线性布局、相对布局等常用布局管理器的用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">布局管理器</td>
								<td>线性布局、相对布局等常用布局管理器的用法</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="2">第四阶段 Android高级</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="lessonPlanListTit">传感器</td>
								<td>方向传感器、温度传感器等传感器的用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">动画特效</td>
								<td>帧动画、补间动画的用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">游戏引擎</td>
								<td>游戏开发方法及游戏引擎使用方法简介</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">Android NDK</td>
								<td>Android中如何使用C/C++开发</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">Android高级技巧</td>
								<td>自定义组件等高级技巧</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="2">第五阶段 Android项目</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="lessonPlanListTit">软件工程</td>
								<td>软件工程方法CMM和敏捷开发简介 需求分析 系统设计 SVN的用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">项目</td>
								<td>
									<p>文件和进程管理器</p>
									<p>多功能媒体播放器</p>
									<p>微博手机客户端开发</p>
									<p>电子书阅读器</p>
									<p>网络浏览器</p>
									<p>RSS阅读器</p>
									<p>地图客户端</p>
								</td>
						</tbody>
						<thead>
							<tr>
								<th colspan="2">第六阶段 职业软技能</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="lessonPlanListTit">职场软技能</td>
								<td>软件工程方法CMM和敏捷开发简介 需求分析 系统设计 SVN的用法</td>
							</tr>
							<tr>
								<td class="lessonPlanListTit">项目</td>
								<td>职业规划 简历指导 笔试面试指导</td>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>

</block>