<{//赴美工程师}>
<extend name="Common/Base" />

<block name='Main'>
<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; 赴美工程师
					&gt; 项目介绍
				</p>
				<div class="environmentDetailBox clearfix">
					<div class="american">
						<p class="bold">一、项目背景</p>
						<p class="textIndent">美国是世界上最大的软件生产国，在这里，有规模各异的软件公司8万多家。世界500强软件公司前10位，有8个公司的总部设在美国！20世纪90年代以来，美国软件产业每年以12.5%的速度增长，几乎是美国国民经济增长率的2.5倍。而根据美国商务部的报告，1998年美国软件从业人员为80.69万人，到2005年，这个数字将增至300万人。2011年，美国软件产品占据全球的市场份额为42%。庞大的市场需要庞大的专业人才！</p>
						<p class="textIndent">果核科技依托十几年积累的国内外IT行业资源，专业的IT行业猎头、人才外包、派遣经验，帮助学员加速迈入领先行业的门槛，帮助职场人士成功转换职业跑道，创造人生拐点，并为企业提供长期高效的人力资源服务。</p>
						<p class="textIndent">果核科技致力于发展中国移动互联精英仓库，已经逐渐形成结合移动互联人才培训，实战工程中心，高级海外人才输送于一体的移动互联人才专业服务机构！</p>

						<p class="bold mt10">二、项目招募</p>
						<p class="textIndent">1、计算机相关专业，本科及以上学历</p>
						<p class="textIndent">2、熟练掌握JAVA语言，熟悉软件开发流程；</p>
						<p class="textIndent">3、一年以上Android平台应用软件开发经验，有扎实的编程功底和良好的编程习惯；</p>
						<p class="textIndent">4、熟悉Android OS系统体系结构以及Android
							SDK；熟悉Android应用实现机制；熟悉Android平台UI设计，熟悉常用布局；</p>
						<p class="textIndent">5、熟练使用Objective-C， 或者具有良好的C/C++语言基础；</p>
						<p class="textIndent">6、熟练使用iPhone SDK、XCode、Interface
							Builder等开发工具；</p>
						<p class="textIndent">7、热爱软件开发，追求完美，有上进心和很强的学习能力,
							有很强的自学能力，喜欢钻研技术。</p>
						<p class="textIndent">8、思路清晰，善于思考，能独立分析和解决问题；责任心强，具备良好的团队合作精神和承受压力的能力。</p>
						<p class="textIndent">9、熟悉软件工程，具有良好的代码编写规范和书写文档的习惯。</p>
						<p class="textIndent">10、大学英语四级或四级以上水平。</p>

						<p class="bold mt10">三、赴美公司薪水及待遇</p>
						<p class="textIndent">1、工作公司：Diapers</p>
						<p class="textIndent">
							Diapers是美国亚马逊旗下Quidsi电商公司的子公司，Diapers也是全美最大的婴儿护理产品在线网站；Diapers.com致力于为婴儿提供全面的用品，产品从尿布，背巾到安全座椅，推车，无所不有。公司详情点击：http://www.diapers.com/</p>
						<p class="textIndent">2、招募岗位：高级Android工程师、高级iOS工程师</p>
						<p class="textIndent">3、年薪：4.5-6万美金，逐年递增（具体的根据面试结果来定）</p>
						<p class="textIndent">4、工作地点：美国新泽西州</p>
						<p class="textIndent">5、工作内容：软件开发</p>
						<p class="textIndent">6、福利：全额保险、带薪休假、假期等；</p>
						<p class="textIndent">7、签证：H-1B工作签证赴美，一年后可以申请办理绿卡</p>

						<p class="bold mt10">四、联系我们</p>
						<p class="textIndent">联系电话： 0592-5909121</p>
						<p class="textIndent">微博：@果核科技</p>
						<p class="textIndent">微信：添加“果核科技”或扫一扫二维码获取详情</p>
						<p class="textIndent">
							<img src="__PUBLIC__/Resources/Images/Front/weiXinCode.jpg" />
						</p>
						<p class="slogan bold">投资自己，完“美”人生！</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>
</block>