<{//项目流程}>
<extend name="Common/Base" />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; 赴美工程师
					&gt; 项目流程
				</p>
				<div class="environmentDetailBox clearfix">
					<div class="con">
						<a href="__PUBLIC__/Resources/Images/Front/program.jpg" target="_blank">
						<img src="__PUBLIC__/Resources/Images/Front/program.jpg" width="630px" /></a>
						<p style="height: 125px;">&nbsp;</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>

</block>