<{//常见问题}>
<extend name="Common/Base" />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; 赴美工程师
					&gt; 赴美工程师项目常见问题
				</p>
				<div class="environmentDetailBox clearfix">
					<div class="american">
						<p class="bold">1、签证背景</p>
						<p class="textIndent">如果申请人希望以非移民身份在美国短期工作，根据美国移民法的规定，应根据工作类型申请相应签证。大部分短期工作签证都要求准备雇佣申请人的美国雇主或代理公司提交申请批件(petition)，并获得美国公民及移民事务处(USCIS)批准，然后才能申请工作签证。</p>
						<p class="textIndent">所有H类、L类、O类、P类和Q类签证的申请人都必须先获得USCIS对你工作申请的批准。工作申请I-129表获批之后，申请人才能向使/领事馆申请工作签证。申请书获批之后，申请人的雇主或代理公司将获发I-797表（批准通知），此表即为申请人工作批准通知件。签证官在面谈时将通过美国国务院的申请信息管理系统(PIMS)核实该申请人的批件。</p>
						<p class="textIndent">申请人在来使/领事馆面谈应出示I-129批件编号以用来核实其信息。如果按美国移民法申请人不符合签证资格,那此申请批件不能作为获得签证的担保。</p>
						<p class="pt10 bold">2、工作签证</p>
						<p class="textIndent">H-1B签证（专业人士工作签证3年，可续签3年，唯一允许有移民倾向的签证）</p>
						<p class="textIndent">如果申请人希望去美国从事预先安排的专业技术工作，则应申请H-1B签证。此类签证要求申请人在准备就职的专业领域拥有学士以上学位（或同等学历）。USCIS将审查决定申请人被雇用将从事的工作是否构成专业技能工作，申请人是否符合该专业技能要求。申请人的雇主应向美国劳工部提交劳工情况申请表，包括雇佣双方之间签订的合同条款。</p>
						<p class="textIndent">H-1B签证申请流程：</p>
						<img src="__PUBLIC__/Resources/Images/Front/program2.jpg" width="630px" />
						<p class="pt10 bold">3、申请时间</p>
						<p class="textIndent">使/领事馆处理H类、L类、O类、P类或Q类签证申请的时间不会早于申请人I-797表上标注的入职时间前90天。不过，根据美国联邦政府的法律条文，签证持有人凭签证申请进入美国的时间不得早于I-797表上标注的入职时间前10天，请务必注意这一事项，以便安排旅行计划。</p>
						<p class="pt10 bold">4、申请材料</p>
						<p class="textIndent">如需申请H类、L类、O类、P类或Q类签证，应缴纳190美元申请费并提交下列材料：</p>
						<p class="textIndent">非移民签证电子申请表(DS-160)。</p>
						<p class="textIndent">前往美国旅行的有效护照，有效期需超出在美预定停留期至少六个月（享受豁免的特殊协议国除外）。如果护照中包含的人数多于一人，则每个签证申请人都需要提交单独的申请。</p>
						<p class="textIndent">一张在最近六个月内拍摄的2英寸x2英寸（5厘米x5厘米）照片。</p>
						<p class="textIndent">如果您是首次申请签证，为节约您的时间请在面谈时携带下列材料：</p>
						<p class="textIndent">证明就职资格的材料，包括大学毕业证书/学位证书。</p>
						<p class="textIndent">当前雇主或前任雇主的介绍信原件，说明您的职位和曾经做过的项目以及工作时间。</p>
						<p class="textIndent">如果您目前以H-1B的身份工作，请提交当前历年的工资单以及在美国工作期间所有年份的联邦所得税申报表（IRS1040表和W-2表）。应携带的材料包括：</p>
						<p class="textIndent">当前雇主或前任雇主开出的工资单</p>
						<p class="textIndent">当前单位或前任单位人事主管的姓名和有效联系电话</p>
						<p class="textIndent">您的简历</p>
						<p class="pt10 bold">5、赴美工作后能带配偶家属吗？</p>
						<p class="textIndent">H-1B签证的持有人的随同配偶或未满21岁的未婚子女可申请H-4签证一同前往美国。陪同的配偶不能在美国工作，但女子可以在美国公立学校学习。若配偶需要在美国合法工作，需要其雇主为其办理新的申请，并获得审批转换身份后，方可合法就业。</p>
						<p class="textIndent">家属所需材料：</p>
						<p class="textIndent">您的家属应携带针对非移民签证的所有必要材料，以及：</p>
						<p class="textIndent">如适用，请携带结婚证原件（配偶）和/或出生证明（21岁以下的未婚子女）</p>
						<p class="textIndent">确认家属将继续受聘的单位公函</p>
						<p class="textIndent">如果您的配偶目前以H-1B的身份在美国工作，请提交其在当前历年的工资单以及在美国以H-1B身份工作期间所有年份的联邦所得税申报表（IRS1040表和W-2表）。</p>
						<p class="pt10 bold">6、整个项目周期多长时间？</p>
						<p class="textIndent">专业技能学习4个月、 办理签证8个月，总时长12个月！</p>
						<p class="textIndent">备注：根据每年美国移民局政策的变化，签证周期会临时调整</p>
						<p class="pt10 bold">7、美国工作签证能申请绿卡吗？</p>
						<p class="textIndent">可以！拥有H-1B签证的，到了美国工作1年后，可以边工作边申请绿卡，一般办理绿卡需要5-6年时间。</p>
						<p class="pt10 bold">8、赴美主要是美国哪些城市哪个企业工作？</p>
						<p class="textIndent">招聘的美国企业为位于美国新泽西州的Diapers公司</p>
						<p class="textIndent">Diapers是美国亚马逊旗下Quidsi电商公司的子公司，也是全美最大的婴儿护理产品在线网站；Diapers.com致力于为婴儿提供全面的用品，产品从尿布，背巾到安全座椅，推车，无所不有。具体的工作城市需要依据最终岗位而定。</p>
						<p class="pt10 bold">9、H-1B签证需要什么时候递交申请？</p>
						<p class="textIndent">H-1B签证的配额从每年的财政年度开始计算，政府的财政年度从每年10月1日起。但是，美国公司可以提前6个月开始递交申请，即从前一年的4月1日起递交算入下一年配额的H-1B签证国内申请。美国移民部会持续接收申请材料，直至申请配额用完止。</p>
						<p class="pt10 bold">10、每年H-1B签证有多少配额？</p>
						<p class="textIndent">申请美国H-1B签证不需要提供托福和雅思成绩，但每年都有配额限制。2012年度全球开放85000个配额名额</p>
						<p class="pt10 bold">11、H-1B签证能更换雇主吗？</p>
						<p class="textIndent">新的移民法规规定，具有H-1B身份的外国劳工，可以在H-1B到期前更换雇主。新的雇主可以将你已持有的H-1B身份从原雇主处直接转出来。因此，这有利于H-1B持有人寻找更好的机会。但是，H-1B身份持有人可以呆在美国的唯一原因是其工作身份。一旦H-1B身份持有人失去工作，按规定，其必须在第二天离开美国。不过美国移民法也给出了180天的灰色期，即，任何持签证合法进入美国的外国人，其签证或身份失效后，如果其在失效后180天内自动离境，则移民局一般不予追究其非法滞留。</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>

</block>