<{//关于果核--果核秘籍}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<p class="contentTitle font12 pl10">首页 &gt; IT教育培训 &gt; iOS培训</p>
			<div class="icoreSecret mt10">
				<a class="listeningTest" href="javascript:;"
					onclick="openChat(this);" lim_company="200133"></a>
				<p class="icoreSecretContent">移动互联网的飞速发展，对相关研发人员需求急剧扩大，Android开发人员的薪资水平也水涨船高。通过本次公开课，大家将了解到Android开发者相对于其他开发岗位的优势，Android开发技术入门、有趣的实验项目以及后续自学指导。</p>
				<p class="icoreSecretContent2">同时我们安排了答疑互动环节，针对学员个性化的问题进行有针对性的解答。</p>
				<p class="icoreSecretContent3">如果您对未来的职业选择感到迷茫，对没有找到满意的工作心有不甘，想从事软件开发却不知道该选择JAVA还是Android，想从事Android研发却苦于无法入门或进步太慢，本次Android免费公开课将为您一一解答苦苦困扰您良久的疑虑，带领您快速入门Android开发。</p>
				<p class="icoreSecretContent4">
					【IT市场及人才需求】、【移动互联网发展趋势】、【Android入门】、【Android开发环境搭建】、【Android项目结构讲解】、【Android实验—《会说话的汤姆猫》&amp;《今天你要嫁给我》】、<br>【答疑
					• 互动】
				</p>
				<p class="icoreSecretContent5">厦门大学工学学士、中国科技大学软件工程硕士。曾在微软中国研发集团从事开发工作3年，主要在软件工程、WebGIS、数据库、富客户端技术、图形图像技术、搜索引擎、模式识别、移动开发等方面有所研究，有着十年的软件设计和开发经验。</p>
				<p class="icoreSecretContent6">
					<span class="bold">出版著作：</span>《SVG开发实践》，电子工业出版社出版。
				</p>
			</div>
		</div>
	</div>
</div>

</block>