<{//关于果核--联系方式}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; 关于果核 &gt; 联系方式
				</p>
				<div class="contactUsTop font14">
					<p>地址：厦门市·软件园二期·望海路55号B座206</p>
					<p>邮编：361000</p>
					<!-- <p>咨询电话：400-088-0340</p> -->
					<p>电话：0592-5909131</p>
					<!--<p>E-MAIL：<a class="blueText" href="mailto:lihf@coredu.cn">lihf@coredu.cn</a></p>-->
					<p>
						网址：<span class="blueText">www.imcore.cn</span>
					</p>
					<p>QQ：1563461231(果核科技)</p>
					<p>
						微博：<a class="blueText" href="http://weibo.com/guohekeji"
							target="_blank">果核科技V</a>
					</p>
					<p>
						果核微信:<img src="__PUBLIC__/Resources/Images/Front/weiXinCode.jpg">
					</p>
				</div>
				<div class="contactUsMap font14">
					<p>
						途径<strong>软件园二期</strong>的公交路线：
					</p>
					<p>127路 28路 29路 302路 303路 311路 313路 314路 38路</p>
					<p>39路 47路 88路 92路 94路 98路 992路 L27线</p>
					<p class="mt10">
						<img src="__PUBLIC__/Resources/Images/Front/contactUsMap.jpg" alt="" />
					</p>
				</div>
			</div>
		</div>

	</div>
</div>


</block>