<{//果核动态详情页面}>
<extend name='Common/Base'/>

<block name='Main'>
	
	<!--菜单结束-->
	<div class="main">
		<div class="wrap clearfix">
			<div class="contentWrap left">
					<div class="contactUsBox">
						<p class="contentTitle font12 pl10">
							<a href="index.html" class="bold">首页</a> &gt; 果核动态
						</p>	
						
						<div class="newsDetailContent newsList" id="news1">
							<p class="font24 bold center" ><{$records['title']}></p><br />
							<notempty name='newsPhotoPath'>
								<div style='width: 100%;text-align: center;'>
									<img width='845' src="<{$newsPhotoPath}>" alt="" />
								</div>
							</notempty>			
											
							<{$records['content']|htmlspecialchars_decode}>
						</div>
					
				</div>
				
				<!-- -->
			</div>
			
		</div>
	</div>
	
	
</block>