<{//果核动态页面}>
<extend name='Common/Base' />

<block name='Main'>
	
	<div class="main">
		<div class="wrap clearfix">
			<div class="contentWrap left">
				<div class="contactUsBox">
					<div class="companyNewsBanner"></div>
					<p class="contentTitle font12 pl10"><a href="index.html" class="bold">首页</a> &gt; 果核动态</p>						
					<ul class="companyNews">
						<volist name='records' id='news' key='index' mod='2'>
							<li>
								<a href='<{:U("detail",array("id"=>$news["id"]))}>' target="_blank">
									<{$news.title}>
								</a>
							</li>
						</volist>
					</ul>					
					
				</div>
								
			</div>

		</div>
	</div>	
	
</block>