<{//果核动态页面}>
<extend name='Common/Base' />

<block name='Main'>
	
	<div class="main">
		<div class="wrap clearfix">
			<div class="contentWrap left">
				<div class="contactUsBox">
					<div class="companyNewsBanner"></div>
					<p class="contentTitle font12 pl10"><a href="index.html" class="bold">首页</a> &gt; 果核动态</p>						
					<ul class="companyNews">
						<li><a href="companyContentNews.html?id=10" target="_blank">果核科技GP01班开班仪式隆重举行</a></li>
						<li><a href="companyContentNews.html?id=9" target="_blank">果核科技为闽江学院软件学院提供“移动大兵”训练营</a></li>
						<li><a href="companyContentNews.html?id=8" target="_blank">果核科技为厦门理工学院提供“移动大兵”训练营</a></li>
						<li><a href="companyContentNews.html?id=7" target="_blank">泉州师范学院与果核科技合作培养安卓软件开发工程师</a></li>
						<li><a href="companyContentNews.html?id=6" target="_blank">果核再添猛将，工程中心如虎添翼</a></li>
						<li><a href="companyContentNews.html?id=1" target="_blank">果核工程中心正式成立</a></li>
						<li><a href="companyContentNews.html?id=2" target="_blank">果核又将为”移动大兵“提供训练营！</a></li>
						<li><a href="companyContentNews.html?id=3" target="_blank">果核君加入“BizSpark”啦，正版当道，盗版微软一边去！</a></li>
						<li><a href="companyContentNews.html?id=5" target="_blank">从果核毕业就能就业</a></li>
						<li><a href="companyContentNews.html?id=4" target="_blank">果核学员学以致用，开发专属手机应用取悦女生</a></li>
					</ul>					
					
				</div>
								
			</div>

		</div>
	</div>	
	
</block>