<{//海西晨报}>
<extend name='Common/Base' />

<block name='Main'>
<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; 移动工程中心 &gt; 合作伙伴 &gt;
					海西晨报
				</p>
				<div class="environmentDetailBox clearfix">
					<div class="american">
						<p class="textIndent">2013年11月、厦门海西晨报社联合果核科技开创了新一代专业消费服务网站---晨报超市&nbsp;www.cbcs168.com。这是由果核科技全权负责技术开发并主导网站运营的一站式电子商务购物平台。晨报超市配套的WAP版也同步上线，标志着传统媒体行业开始移动互联网的转型。</p>
						<p class="textIndent">
							<image src="__PUBLIC__/Resources/Images/Front/market1.jpg" />
							<br />
						</p>
						<p class="textIndent">《海西晨报》是国家新闻出版总署批复创办的唯一一份面向海西市民的综合性都市报，于2012年9月5日试刊，12月26日正式创刊。她的前身是创办于1995年的《厦门商报》。</p>
						<p class="textIndent">《海西晨报》立足厦门、覆盖闽南、服务海西、影响两岸，定位独特，以服务厦门跨岛发展战略和综合配套改革方案的实施，服务厦门岛内外一体化、厦漳泉同城化为最
							大特色；以贴近市民生活，服务民生发展为最大追求，是厦门日报社倾力打造的一份新型综合性都市报。目前《海西晨报》在厦漳泉龙设有7个事业部近30个发行
							站，日均版数达到四开40版，丰富的新闻内容受到了厦漳泉龙读者的广泛欢迎，日发行量达到22万份。在福建省率先推出社区报、在台湾岛内合作出版《两岸商
							情》杂志，官方微博微信粉丝数为闽南第一、福建第二。</p>
						<p class="textIndent">晨报超市是新一代专业消费服务网站，它利用强大的全球化集约采购优势、丰富的电子商务管理服务经验和最先进的互联网技术为用户提供最新最好的产品。晨报超市不仅实现网站自助下单购物，还配合WAP版实现移动互联网化，完全贴近用户的日常生活的使用。</p>
						<p class="textIndent">果核科技作为海西晨报唯一指定互联网技术服务商及运营商为客户提供一站式的解决方案。</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>
</block>