<{//工程中心五步曲}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; 移动工程中心 &gt; 工程中心五部曲
				</p>
				<div class="environmentDetailBox clearfix">
					<div>
						<img src="__PUBLIC__/Resources/Images/Front/Engineering-4.jpg" />
						<p style="height: 125px;">&nbsp;</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>


</block>