<{//建发房产}>
<extend name='Common/Base' />

<block name='Main'>


<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; 移动工程中心 &gt; 合作伙伴 &gt;
					建发房产
				</p>
				<div class="environmentDetailBox clearfix">
					<div class="american">
						<p class="textIndent bold">果核为建发开发企业移动信息化手机客户端</p>
						<p class="textIndent">正文：建发集团联合厦门果核科技，由果核科技开发一款建发集团企业移动信息化的客户端，加速了企业内部管理的效率。</p>
						<p class="textIndent">
							这是一款集合企业内部会议系统、请假系统、项目管理系统、企业新闻等于一体的企业移动信息化手机客户端。<br />
						</p>
						<p class="textIndent">
							<img src="__PUBLIC__/Resources/Images/Front/jf01.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;<img
								src="__PUBLIC__/Resources/Images/Front/jf02.jpg" /><br />
							<br />
						</p>
						<p class="textIndent">
							<img src="__PUBLIC__/Resources/Images/Front/jf03.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;<img
								src="__PUBLIC__/Resources/Images/Front/jf04.jpg" /><br />
							<br />
						</p>
						<p class="textIndent">厦门建发集团有限公司创立于1980年12月，经过二十余年不断的创新与变革，现已发展成为注册资本30亿元人民币，资产总额超过260亿元，年营业收入
							超过340亿元的大型国有投资型企业集团，主要业务涵盖供应链运营、房地产开发、旅游酒店、会展、信托等多个领域。
							2008年位列中国企业500强第147名、中国服务业500强第48名，并连续多年位居福建省企业集团100强首位。
							公司现拥有全资及控股、参股企业40多家，主要投资企业涉及贸易、物流、房地产开发、旅游酒店、会展等几个行业。</p>
						<p class="textIndent">果核科技作为厦门建发集团唯一指定的移动互联服务商，为其提供一站式的移动互联开发解决方案。</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>

</block>