<{//三五互联项目}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; 移动工程中心 &gt; 合作伙伴 &gt;
					三五互联
				</p>
				<div class="environmentDetailBox clearfix">
					<div class="american">
						<p class="textIndent">近日，创业板上市公司三五互联（300051）和果核科技联手合作，由果核开发并上架了一款无线实时视频会议的iOS客户端应用程序---35eMeeting，为三五互联正在实施的“台湾战略”添上了浓厚的一笔。</p>
						<p class="textIndent">
							<image src="__PUBLIC__/Resources/Images/Front/Img201311181.png" />
							<br />
						</p>
						<p class="textIndent">三五互联是一家依靠自主研发的应用软件系统，重点面向中国中小企业客户，提供企业邮箱、电子商务网站建设、网络域名、办公自动化系统（OA）、客户关系管理系统（CRM）等软件产品及服务的专业提供商。作为中国领先SaaS品牌，三五互联自2004年成立以来，通过技术和商业模式的创新，业务实现了快速增长，目前已发展成为国内通过SaaS模式为中小企业信息化建设提供软件应用及服务最主要的提供商之一，也是福建省首家上市的创业板企业。</p>
						<p class="textIndent">
							<image src="__PUBLIC__/Resources/Images/Front/Img201311182.png" />
							<br />
						</p>
						<p class="textIndent">35eEmeeting采用了google开源的WebRTC技术作为核心，WebRTC是一个支持网页浏览器进行实时语音对话或视频对话的技术，是谷歌2010年以6820万美元收购Global
							IP
							Solutions公司而获得的一项技术。WebRTC提供了视频会议的核心技术，包括音视频的采集、编解码、网络传输、显示等功能，并且还支持跨平台：windows，linux，mac，android，iOS。WebRTC项目极其庞大复杂，果核团队在很短的时间内克服了跨平台编译、C++/OC混合编程、内存限制、网络实时通信等诸多技术难题，让简繁体版的app都得以成功上架。从而果核团队也成为国内首个能够掌握WebRTC在iOS端全面解决方案的移动开发团队！</p>
						<p class="textIndent">果核致力于发展中国移动互联精英仓库，也为更多的企业提供一站式的移动开发解决方案！每一枚杰出的果核里都充满无限能量！</p>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>

</block>