<{//讲师团对列表}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="starTeacher">
				<div class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; 专家师资 &gt;
					金牌名师
				</div>
				<volist name='records' id='teacher' key='index'>
					<div class="starTeacherItem clearfix">
						<div class="teacherPicBox left">
							<div class="teacherPic">
								<img src="<{$teacher['photo_path']}>" alt="<{$teacher['title']}>" />
							</div>
						</div>
						<div class="noRound pl20 pr10">
							<p class="starTeacherName">
								<span>
									<{$teacher['title']}>
								</span>
								<{$teacher['job']}>
							</p>
							<div class="starTeacherAboutBox">
								<p>
									<{$teacher['introduce']}>
								</p>
								
								<notempty name="teacher['published_book']">
									<p class="pt10 mt10">
										<span class="booksMark"></span>
									</p>
									<p><{$teacher['published_book']}></p>
								</notempty>
								
								<p class="pt10">
									<span class="bold">教学理念：</span>
									<{$teacher['teach_idea']}>
								</p>
								<p class="pt10">
									<span class="bold">寄语学员：</span>
									<{$teacher['student_hope']}>
								</p>
							</div>
						</div>
					</div>
				</volist>
				
			</div>
		</div>

	</div>
</div>

</block>