<{//讲师团对列表}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">
		<div class="contentWrap left">
			<div class="starTeacher">
				<div class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; 专家师资 &gt;
					金牌名师
				</div>
				<div class="starTeacherItem clearfix">
					<div class="teacherPicBox left">
						<div class="teacherPic">
							<img src="__PUBLIC__/Resources/Images/Front/teacher1.jpg" alt="黄凯伟" />
						</div>
					</div>
					<div class="noRound pl20 pr10">
						<p class="starTeacherName">
							<span>黄老师</span>教学总监，iOS讲师
						</p>
						<div class="starTeacherAboutBox">
							<p>
								厦门大学工学学士、中国科技大学软件工程硕士。曾在微软中国研发集团从事开发工作3年，在软件工程、WebGIS、数据库、富客户端技术、图形图像技术、搜索引擎、机器学习、移动开发等多个软件领域均有涉猎，精通十多门计算机语言，有着十多年的软件设计和开发经验，主导并参与了厦门建发集团、35互联、厦门交警、海西晨报、齐家等众多企业应用及上线应用的开发，对移动APP应用有着深刻的理解和实践经验。其讲课内容逻辑清晰，深入浅出，加之其独特的个人魅力，以及对编程的深入思考吸引众多粉丝，被学员赋予“黄大神”称号。黄老师从教以来，桃李满天下，已毕业的ios学员当中，至今在厦门还保持着学员首次就业月薪过万的最高iOS就业薪资记录。
							</p>
							<p class="pt10 mt10">
								<span class="booksMark"></span>
							</p>
							<p>《SVG开发实践》，电子工业出版社出版。</p>
							<p class="pt10">
								<span class="bold">教学理念：</span>创设情景教学，激发学生学习的兴趣，使学生在快乐中掌握学习的规律、方法。
							</p>
							<p class="pt10">
								<span class="bold">寄语学员：</span>人不逼一下自己不知道自己有多牛逼。
							</p>
						</div>
					</div>
				</div>

				<div class="starTeacherItem clearfix">
					<div class="teacherPicBox left">
						<div class="teacherPic">
							<img src="__PUBLIC__/Resources/Images/Front/teacher6.jpg" alt="李斌" />
						</div>
					</div>
					<div class="noRound pl20 pr10">
						<p class="starTeacherName">
							<span>李老师</span>全栈工程师，Android、PHP讲师
						</p>
						<div class="starTeacherAboutBox">
							<p>
								曾主持国内某大型HIS（医院信息化系统）平台开发，资深J2EE工程师。后来在国内某知名IT培训机构任教多年，主要负责Java与PHP方向的教学和课程研发。之后在移动互联网领域参与自主创业，开发并发布过多款Android移动客户端产品，是国内最早一批从事Android软件开发的工程师。具备丰富的企业级软件开发和项目管理经验，2010年开始钻研php技术及相关开源产品，经验丰富，对培训有深刻的理解和把握，所讲授的课程实战性强，并将企业团队开发模式带入果核课堂。
							</p>
							<p class="pt10">
								<span class="bold">教学理念：</span>以学生为主体，教师为主导，以培养能力、教方法为主线，着眼于学生的发展需要，善于挖掘学生的潜能。
							</p>
							<p class="pt10">
								<span class="bold">寄语学员：</span>不求课课中生意，但愿人人有所得。
							</p>
						</div>
					</div>
				</div>
				<div class="starTeacherItem clearfix">
					<div class="teacherPicBox left">
						<div class="teacherPic">
							<img src="__PUBLIC__/Resources/Images/Front/teacher2.jpg" alt="韦龙" />
						</div>
					</div>
					<div class="noRound pl20 pr10">
						<p class="starTeacherName">
							<span>韦老师</span>果核科技iOS金牌讲师
						</p>
						<div class="starTeacherAboutBox">
							<p>
								厦门大学软件工程专业学士、移动开发专家，曾先后在用友软件移动互联网部门和元印科技担任高级工程师和开发经理，对于企业APP应用有着深刻的理解和实践经验，并有着5年软件开发和项目管理经验，2年企业内训经验。授课经验丰富，责任心强，深受学生欢迎，被学员赋予“韦总”称号。
							</p>
							<p class="pt10">
								<span class="bold">教学理念：</span>只教学不搞科研的教师，其教学是肤浅的；只搞科研不教学的教师，其科研是空洞的。
							</p>
							<p class="pt10">
								<span class="bold">寄语学员：</span>每个学生天生都是世间的奇迹，坚信每个人都是可造就的。
							</p>
						</div>
					</div>
				</div>


				<div class="starTeacherItem clearfix">
					<div class="teacherPicBox left">
						<div class="teacherPic">
							<img src="__PUBLIC__/Resources/Images/Front/teacher8.jpg" alt="柳志鹏" />
						</div>
					</div>
					<div class="noRound pl20 pr10">
						<p class="starTeacherName">
							<span>柳老师</span>PHP讲师
						</p>
						<div class="starTeacherAboutBox">
							<p>
								曾任腾讯集团应用部开发经理，带领团队成功开发QQ桌球游戏、斗地主、跑跑卡丁车、微信app等40多个项目，6年嵌入式软件开发经验，两年培训经验，对Java语言、C语言、数据结构、PHP、数据库、ARM体系架构有深入研究，技术功底深厚，授课严谨、通俗易懂、因材施教、亲和力强，深受学生喜欢。
							</p>
							<p class="pt10">
								<span class="bold">教学理念：</span>因材施教，启迪智慧。
							</p>
							<p class="pt10">
								<span class="bold">寄语学员：</span>学习就像逆水行舟，不进则退，务必保持空杯的学习态度。
							</p>
						</div>
					</div>
				</div>
				<div class="starTeacherItem clearfix">
					<div class="teacherPicBox left">
						<div class="teacherPic">
							<img src="__PUBLIC__/Resources/Images/Front/teacher9.jpg" width="138" height="188" alt="傲然" />
						</div>
					</div>
					<div class="noRound pl20 pr10">
						<p class="starTeacherName">
							<span>敖老师</span>iOS讲师
						</p>
						<div class="starTeacherAboutBox">
							<p>厦门大学工学学士，多年移动开发工作经验,
								前后参与过厦门建发集团、厦门交警，齐家等十几款企业应用及上线应用的开发,对iOS应用开发有着深刻的理解和丰富的实践经验。2年多ios研发教学经验，授课幽默风趣，具有女老师特有的细腻和亲和力，授课声音洪亮，讲课思路清晰，被学员亲切称呼为“然姐姐”。
							</p>
							<p class="pt10">
								<span class="bold">教学理念：</span>用昂扬的人生态度影响学生，用充沛的生活激情感染学生，用宽容的包容态度点拨学生。
							</p>
							<p class="pt10">
								<span class="bold">寄语学员：</span>用至学充满首脑，以至美滋养精神。
							</p>
						</div>
					</div>
				</div>
				<div class="starTeacherItem clearfix">
					<div class="teacherPicBox left">
						<div class="teacherPic">
							<img src="__PUBLIC__/Resources/Images/Front/teacher10.jpg" alt="张湘鲁" />
						</div>
					</div>
					<div class="noRound pl20 pr10">
						<p class="starTeacherName">
							<span>张老师</span>全栈工程师,iOS、PHP讲师
						</p>
						<div class="starTeacherAboutBox">
							<p>
								具有6年的软件设计和开发经验，精通J2EE、PHP和移动互联网开发。参与开发了泉州广电网络资源管理系统、智富惠电子商务平台、建发集团内部网系统、建发物资网上信息系统、建发物资APP等项目，3年多培训经验，精通移动及PC平台软件开发，授课经验丰富，亲和力强，富有激情，擅长理论结合实际来提高学生项目开发的实战能力，并经常组织学员课外体育活动，深受学生的欢迎，被学员赋予“张哥”的称号。
							</p>
							<p class="pt10">
								<span class="bold">教学理念：</span>千教万教，教人求真；千学万学，学做真人。
							</p>
							<p class="pt10">
								<span class="bold">寄语学员：</span>博观而约取，厚积而薄发。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

</block>