<!-- 定义JS全局变量 -->
<script type="text/javascript">
    /** 公共路径 **/
    var PUBLIC = "__PUBLIC__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";
    
    /** Authenticate **/
    var PATH_AUTHENTICATE_INDEX = "<{:U('Authenticate/Authenticate/index')}>";
    var PATH_AUTHENTICATE_LOGOUT = "<{:U('Authenticate/Authenticate/logout')}>";
    
    /** 用户管理 **/
    var PATH_USER_QUERY = "<{:U('User/User/query')}>";
    var PATH_USER_CREATE = "<{:U('User/User/create')}>";
    var PATH_USER_UPDATE = "<{:U('User/User/update')}>";
    var PATH_USER_DISABLE = "<{:U('User/User/disable')}>";
    
    /** 果核动态 **/
    var PATH_NEWS_QUERY = "<{:U('News/News/query')}>";
    var PATH_NEWS_CREATE = "<{:U('News/News/create')}>";
    var PATH_NEWS_UPLOAD_PHOTO = "<{:U('News/News/uploadPhoto')}>";
    var PATH_NEWS_DELETE = "<{:U('News/News/delete')}>";
    var PATH_NEWS_QUERY_IMAGE_COVER = "<{:U('News/News/queryImageCover')}>";
    var PATH_NEWS_UPDATE = "<{:U('News/News/update')}>";
    
    /** 讲师团队 **/
    var PATH_TEACHER_INDEX = "<{:U('Teacher/Teacher/index')}>";
    var PATH_TEACHER_CREATE = "<{:U('Teacher/Teacher/create')}>";
    var PATH_TEACHER_UPDATE = "<{:U('Teacher/Teacher/update')}>";
    var PATH_TEACHER_DELETE = "<{:U('Teacher/Teacher/delete')}>";
    var PATH_TEACHER_UPLOAD_PHOTO = "<{:U('Teacher/Teacher/uploadPhoto')}>";
    
    /** 广告页管理 **/
    /** 广告页幻灯片 **/
    var PATH_ADVERTISEMENT_SLIDESHOW_QUERY = "<{:U('Advertisement/AdvSlideShow/query')}>";
    var PATH_ADVERTISEMENT_SLIDESHOW_CREATE = "<{:U('Advertisement/AdvSlideShow/create')}>";
    var PATH_ADVERTISEMENT_SLIDESHOW_UPDATE = "<{:U('Advertisement/AdvSlideShow/update')}>";
    var PATH_ADVERTISEMENT_SLIDESHOW_DELETE = "<{:U('Advertisement/AdvSlideShow/delete')}>";
    var PATH_ADVERTISEMENT_SLIDESHOW_PHOTO_UPLOAD = "<{:U('Advertisement/AdvSlideShow/uploadPhoto')}>";
    
</script>