<{//顶部公共区域}>

<div class="header">
	<div class="wrap relative"> 
		<a href="/" title="厦门android培训，IOS培训，移动互联网人才培训服务机构">
			<img src="__PUBLIC__/Resources/Images/Front/logo.jpg" alt="果核科技" />
		</a> 
		<span class="freePhoneNumber absolute"></span>
    	<div class="topWeiboBox absolute"> 
    		<a class="blueText" href="http://weibo.com/guohekeji" target="_blank" title="果核科技V 微博"> 
    			<img src="__PUBLIC__/Resources/Images/Front/coreduWeibo.gif" alt="果核科技V 微博" /> 
    		</a> 
    	</div>
  	</div>
</div>
<!--
	<div class="topNav" id="content">
		<script type="text/javascript" src="Javascript/topNav.js"></script>
	</div>
	--> 
<!--菜单开始--> 
<js href="__PUBLIC__/Resources/Js/Common/topNav.js" /> 
<!--菜单结束-->