<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>果核网站-后台管理系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- 导入Extjs样式 -->
        <css href="__PUBLIC__/Resources/Js/ExtJS/resources/css/ext-all.css" />
        <css href="__PUBLIC__/Resources/Css/Icon.css" />
        <css href="__PUBLIC__/Resources/Css/Style.css" />
        
        <!-- 定义JS全局变量 -->
        <script type="text/javascript">
            /** 公共路径 **/
            var PUBLIC = "__PUBLIC__";
            var APP = "__APP__";
            var ROOT = "__ROOT__";
        </script>
        
        <!-- 导入Extjs脚本 -->
        <js href="__PUBLIC__/Resources/Js/ExtJS/bootstrap.js"/>
        <js href="__PUBLIC__/Resources/Js/ExtJS/ext-lang-zh_CN.js"/>
        
        <!-- 导入自己写的JS入口文件 -->
        <js href="__PUBLIC__/Pages/Admin/init.js"/>
		
	</head>
	<body>
		
	</body>
	
</html>