<{//这里以View为根路径}>
<extend name="Common/Base" />

<block name='Main'>

	<div class="main">
    	<div class="wrap">
    		<div class="productBanner relative">
          		<div id="focusBannerPic" class="focusBannerPic">
        			<ul>
		              	<li><a href="AndroidFreeClass.html"><img src="__PUBLIC__/Resources/Images/Front/banner/Android1.jpg" alt="" /></a></li>
		              	<li><a href="javascript:;" onclick="openChat(this);" lim_company="200133"><img src="__PUBLIC__/Resources/Images/Front/banner/banner22.jpg" alt="" /></a></li>
		              	<li><a href="javascript:;" onclick="openChat(this);" lim_company="200133"><img src="__PUBLIC__/Resources/Images/Front/banner/banner21.jpg" alt="" /></a></li>
		              	<li><a href="javascript:;" onclick="openChat(this);" lim_company="200133"><img src="__PUBLIC__/Resources/Images/Front/banner/Android2.jpg" alt="" /></a></li>
              		<!--<li><a href="topicCourse.html"><img src="Images/banner/topicCourse.jpg" alt="" /></a></li>-->
              			<li><a href="AndroidTalent.html"><img src="__PUBLIC__/Resources/Images/Front/banner/talent1.jpg" alt="" /></a></li>
              <!--
						<li><a href="IosTalent.html"><img src="Images/banner/ios1.jpg" alt="" /></a></li>
						<li><a href="customPrograms.html"><img src="Images/banner/Android3.jpg" alt="" /></a></li>
						<li><a href="javascript:;" onClick="openChat(this);" lim_company="200133"><img src="Images/banner/ui.jpg" alt="" /></a></li>
						-->
            		</ul>
      			</div>
          
          		<ul id="controlNav" class="controlNav absolute" style="margin-left:250px;">
        			<li class="current"><a href="javascript:;"></a></li>
        			<li><a href="javascript:;"></a></li>
        			<li><a href="javascript:;"></a></li>
			        <li><a href="javascript:;"></a></li>
			        <li><a href="javascript:;"></a></li>
      			</ul>
          		<!--<span class="bannerMark"></span>--> 
        	</div>
    
    <!--new version-->
	<div class="main_nr_box">
		<div class="main_st">
        	<div class="main_st_cgan">
            	<div class="main_st_cgan_top"> 
            		<span class="banner left">果核动态</span>
            	<div class="main_top_more">
            		<a href="companyNews.html">更多&gt;&gt;</a>
            	</div>
          	</div>
              
            <div class="main_st_cgan_down">
            	<div class="main_st_cgan_down_nr">
                	<div class="main_st_cgan_down_nr_text">
                		<ul>
                      		<li>
                      			<img src="__PUBLIC__/Resources/Images/Front/newImages/Article_elite4.gif" />
                      			<a href="companyContentNews.html?id=10" target="_blank">
                      				果核科技GP01班开班仪式隆重举行
                      			</a>
                      		</li>
                      		<li>
		                      	<img src="__PUBLIC__/Resources/Images/Front/newImages/Article_elite4.gif" />
		                      	<a href="companyContentNews.html?id=9" target="_blank">
		                      		果核科技为闽江学院软件学院提供“移动大兵”训...
		                      	</a>
		                      </li>
		                      <li>
		                      	<img src="__PUBLIC__/Resources/Images/Front/newImages/Article_elite4.gif"/>
		                   		<a href="companyContentNews.html?id=8" target="_blank">
		                   			果核科技为厦门理工学院提供“移动大兵”训练营...
		                   		</a>
		                      </li>
		                      <li>
		                      	<img src="__PUBLIC__/Resources/Images/Front/newImages/Article_elite4.gif" />
		                   		<a href="companyContentNews.html?id=7" target="_blank">
		                   			泉州师范学院与果核科技合作培养安卓软件开发...
		                   		</a>
		                   	  </li>
		                      <li>
		                      	<img src="__PUBLIC__/Resources/Images/Front/newImages/Article_elite4.gif" />
		                  		<a href="companyContentNews.html?id=6" target="_blank">
		                  			果核再添猛将，工程中心如虎添翼
		                  		</a>
		                  	  </li>
		                    </ul>
              </div>
                  <div class="main_st_cgan_down_nr_images"> </div>
                </div>
          </div>
            </div>
        <div class="main_st_cgan">
              <div class="main_st_gsdt_top"> <span class="banner left">常见问题</span>
            <div class="main_top_more"><a href="FAQ.html" target="_blank">更多>> </a></div>
          </div>
              <div class="main_st_cgan_down">
            <div class="main_st_cgan_down_nr">
                  <div class="main_st_cgan_down_nr_text">
                <dl class="FAQ">
                      <dt class="qa"><span class="tit">什么样的培训机构是耍流氓？</span></dt>
                      <dd>果核君：不带研发部门的培训机构都是耍流氓，这样的培训机构没有灵魂。优秀的研发部门对于培训来说是很好的正向反馈，帮助培训的内容紧跟业内需要，并且让学员有机会接触到真正的开发流程。</dd>
                    </dl>
              </div>
                  <div class="main_st_cgan_down_nr_images"> &nbsp; </div>
                </div>
          </div>
            </div>
        <div class="main_st_gsqk">
              <div class="main_st_gsqk_top"> <span class="banner left">最新学员就业信息</span>
            <div class="main_top_more">&nbsp;</div>
          </div>
              <div class="main_st_cgan_down">
            <div class="main_st_cgan_down_nr">
                  <div class="main_st_cgan_down_nr_text">
                <div id="stuDemo" class="stuDemo">
                      <div id="stuDemo1">
                    <table>
                          <tbody>
                        <tr>
                              <td style="width:60px;">&nbsp;李*</td>
                              <td style="width:120px;">舜亚</td>
                              <td style="width:100px;">Android工程师</td>
                              <td style="width:40px;">5000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;李*功</td>
                              <td>联想</td>
                              <td>Android工程师</td>
                              <td>7000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;陈*</td>
                              <td>威特</td>
                              <td>Android工程师</td>
                              <td>6000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;罗*</td>
                              <td>百脑汇</td>
                              <td>Android工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;陈*纯</td>
                              <td>厦门果核科技</td>
                              <td>Android工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;朱*棕</td>
                              <td>舜亚科技</td>
                              <td>Android工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;姜*</td>
                              <td>舜亚科技</td>
                              <td>Android工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;张*诚</td>
                              <td>同人科技</td>
                              <td>Android工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;黄*荣</td>
                              <td>厦门智美合</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;叶*鑫</td>
                              <td>厦门米雀</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;黄*莹</td>
                              <td>厦门一丁科技</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;陈*辉</td>
                              <td>深圳经纬信息技术</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;孔*骏</td>
                              <td>厦门视我科技</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;林*冰</td>
                              <td>达不溜</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;何*超</td>
                              <td>尚科</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;王*</td>
                              <td>天高云淡</td>
                              <td>Android工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;张*龙</td>
                              <td>华为</td>
                              <td>iOS工程师</td>
                              <td>6000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;李*凯</td>
                              <td>立林</td>
                              <td>iOS工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;刘*源</td>
                              <td>默尔科技</td>
                              <td>iOS工程师</td>
                              <td>4500</td>
                            </tr>
                        <tr>
                              <td>&nbsp;杨*振</td>
                              <td>新加坡中新国际</td>
                              <td>iOS工程师</td>
                              <td>4000</td>
                            </tr>
                        <tr>
                              <td>&nbsp;郑*</td>
                              <td>舜亚</td>
                              <td>iOS工程师</td>
                              <td>4000</td>
                            </tr>
                      </tbody>
                        </table>
                  </div>
                      <div id="stuDemo2"> </div>
                    </div>
              </div>
                  <div class="main_st_cgan_down_nr_images"> </div>
                </div>
          </div>
            </div>
      </div>
          <ul id="index_banner">
        <li id="index_banner_l"><a href="productAndSolution.html"><img id="index_banner1" src="__PUBLIC__/Resources/Images/Front/newImages/pro1.jpg" alt="产品与解决方案"></a></li>
        <li id="index_banner_m"><a href="employStudentFeeling.html"><img id="index_banner2" src="__PUBLIC__/Resources/Images/Front/newImages/pro2.jpg" alt="果核故事"></a></li>
        <li id="index_banner_r"><a href="ghTalking.html" target="_blank"><img id="index_banner3" src="__PUBLIC__/Resources/Images/Front/newImages/pro3.jpg" alt=""></a></li>
      </ul>
		
		<!-- 果核优势 -->
		<div class="main_cplb">
			<img src="__PUBLIC__/Resources/Images/Front/imSuperiority.jpg" />
		</div>

          <div class="main_cplb">
        <div class="main_t_top"> <span class="banner left">果核为他们提供移动互联产品</span> </div>
        <div class="main_cplb_center"> 
              <!--果核合作企业-->
              <div class="rollspan clearfix">
            <div class="rollspanContent">
                  <div class="rollBox">
                <div class="scrollcon ml20">
                      <div id="ISL_Cont" class="Cont">
                    <div class="ScrCont">
                          <div id="List1">
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo1.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog010.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog002.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog003.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog004.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog005.jpg"> </div>
                      </div>
                          <div id="List2"> </div>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
          </div>
              <!--果核合作企业--> 
            </div>
        <div class="main_cplb_down"></div>
      </div>
          <div class="main_cplb">
        <div class="main_t_top"> <span class="banner left">果核是他们的移动互联人才培养基地</span> </div>
        <div class="main_cplb_center"> 
              <!--果核合作企业-->
              <div class="rollspan clearfix">
            <div class="rollspanContent">
                  <div class="rollBox">
                <div class="scrollcon ml20">
                      <div id="ISL_Cont2" class="Cont">
                    <div class="ScrCont">
                          <div id="List21">
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog006.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog008.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog009.jpg"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo2.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo3.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo6.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo7.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo8.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo9.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo10.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLogo11.gif"> </div>
                        <div class="box"> <img src="__PUBLIC__/Resources/Images/Front/talentLogo/cooperationLog007.jpg"> </div>
                      </div>
                          <div id="List22"> </div>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
          </div>
              <!--果核合作企业--> 
            </div>
        <div class="main_cplb_down"></div>
      </div>
        </div>
    <!--new version--> 
    
  </div>
    </div>


</block>

