<{//学员天地}>
<extend name='Common/Base' />

<block name='Main'>

<div class="main">
	<div class="wrap clearfix">

		<div class="contentWrap">
			<div class="contactUsBox">
				<p class="contentTitle font12 pl10">
					<a href="index.html" class="bold">首页</a> &gt; IT教育培训 &gt; 学员天地 &gt;
					学员心得
				</p>
				<div class="starTeacher">

					<!--学员图片-->
					<div class="employStudent clearfix">
						<div class="employStudentContent">
							<div class="rollBox">
								<div class="scrollcon mt20">
									<div id="leftDir" class="LeftBotton"></div>
									<div id="ISL_Cont" class="Cont">
										<div class="ScrCont">
											<div id="List1">
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('huangyr');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/huangyr.jpg"
															alt="黄*荣"></a>
														<p>
															<a target="_blank" href="#">黄*荣</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('kongwj');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/kongwj.jpg"
															alt="孔*骏"></a>
														<p>
															<a target="_blank" href="#">孔*骏</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('yequanxin');"><img width="134"
															border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/yequanxin.jpg" alt="叶*鑫"></a>
														<p>
															<a target="_blank" href="#">叶*鑫</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('zhangyicheng');"><img
															width="134" border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/zhangyicheng.jpg" alt="张*诚"></a>
														<p>
															<a target="_blank" href="#">张*诚</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('huangxh');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/huangxh.jpg"
															alt="黄*慧"></a>
														<p>
															<a target="_blank" href="#">黄*慧</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('chenwenchun');"><img
															width="134" border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/chenwenchun.jpg" alt="陈*纯"></a>
														<p>
															<a target="_blank" href="#">陈*纯</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('chenbaotao');"><img
															width="134" border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/chenbaotao.jpg" alt="陈*涛"></a>
														<p>
															<a target="_blank" href="#">陈*涛</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('aoran');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/aoran.jpg"
															alt="敖*"></a>
														<p>
															<a target="_blank" href="#">敖*</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('zhangJ');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/zhangJ.jpg"
															alt="张*"></a>
														<p>
															<a target="_blank" href="#">张*</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student1');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student1.jpg"
															alt="李*"></a>
														<p>
															<a target="_blank" href="#">李*</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student2');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student2.jpg"
															alt="赖*瀚"></a>
														<p>
															<a target="_blank" href="#">赖*瀚</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student3');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student3.jpg"
															alt="陈*辉"></a>
														<p>
															<a target="_blank" href="#">陈*辉</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student4');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student4.jpg"
															alt="郑*忠"></a>
														<p>
															<a target="_blank" href="#">郑*忠</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student5');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student5.jpg"
															alt="吴*福"></a>
														<p>
															<a target="_blank" href="#">吴*福</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student6');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student6.jpg"
															alt="陈*宏"></a>
														<p>
															<a target="_blank" href="#">陈*宏</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student8');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student8.jpg"
															alt="肖*鑫"></a>
														<p>
															<a target="_blank" href="#">肖*鑫</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student9');"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student9.jpg"
															alt="陈*源"></a>
														<p>
															<a target="_blank" href="#">陈*源</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" href="#"
															onclick="changeIframe('student10');"><img width="134"
															border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/student10.jpg" alt="张*鸿"></a>
														<p>
															<a target="_blank" href="#">张*鸿</a>
														</p>
													</div>
												</div>
												<!--
                            <div class="box">
                              <div class="boxIn">
                                <a class="imgBorder" href="#"><img width="134" border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/fenbo.jpg" alt="冯*"></a>
                                <p><a target="_blank" href="#">冯*</a></p>
                              </div>
                            </div>
                            <div class="box">
                              <div class="boxIn">
                                <a class="imgBorder" href="#"><img width="134" border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/zhaomx.jpg" alt="赵*兴"></a>
                                <p><a target="_blank" href="#">赵*兴</a></p>
                              </div>
                            </div> 
                           -->
											</div>
											<div id="List2">
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/kongwj.jpg"
															alt="孔*骏"></a>
														<p>
															<a target="_blank" href="#">孔*骏</a>
														</p>
													</div>
												</div>

												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/zhangyicheng.jpg" alt="张*诚"></a>
														<p>
															<a target="_blank" href="#">张*诚</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/huangxh.jpg"
															alt="黄*慧"></a>
														<p>
															<a target="_blank" href="#">黄*慧</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/chenwenchun.jpg" alt="陈*纯"></a>
														<p>
															<a target="_blank" href="#">陈*纯</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/chenbaotao.jpg" alt="陈*涛"></a>
														<p>
															<a target="_blank" href="#">陈*涛</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/aoran.jpg"
															alt="敖*"></a>
														<p>
															<a target="_blank" href="#">敖*</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/zhangJ.jpg"
															alt="张*"></a>
														<p>
															<a target="_blank" href="#">张*</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student1.jpg"
															alt="李*"></a>
														<p>
															<a target="_blank" href="#">李*</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student2.jpg"
															alt="赖*瀚"></a>
														<p>
															<a target="_blank" href="#">赖*瀚</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student3.jpg"
															alt="陈*辉"></a>
														<p>
															<a target="_blank" href="#">陈*辉</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student4.jpg"
															alt="郑*忠"></a>
														<p>
															<a target="_blank" href="#">郑*忠</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student5.jpg"
															alt="吴*福"></a>
														<p>
															<a target="_blank" href="#">吴*福</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student6.jpg"
															alt="陈*宏"></a>
														<p>
															<a target="_blank" href="#">陈*宏</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student8.jpg"
															alt="肖*鑫"></a>
														<p>
															<a target="_blank" href="#">肖*鑫</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156" src="__PUBLIC__/Resources/Images/Front/student/student9.jpg"
															alt="陈*源"></a>
														<p>
															<a target="_blank" href="#">陈*源</a>
														</p>
													</div>
												</div>
												<div class="box">
													<div class="boxIn">
														<a class="imgBorder" target="_blank"
															href="employStudentFeeling.html"><img width="134"
															border="0" height="156"
															src="__PUBLIC__/Resources/Images/Front/student/student10.jpg" alt="张*鸿"></a>
														<p>
															<a target="_blank" href="#">张*鸿</a>
														</p>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div id="rightDir" class="RightBotton"></div>
								</div>
							</div>
							<script> 					
					var speed_3 = 18;
					var direction="left";
					var tab_3 = document.getElementById("ISL_Cont");
					var tab1_3 = document.getElementById("List1");
					var tab2_3 = document.getElementById("List2");
					var leftDir = document.getElementById("leftDir");
					var rightDir = document.getElementById("rightDir");
					tab2_3.innerHTML = tab1_3.innerHTML;
					function marquee_3(){
						switch(direction){
						case "left":
							if(tab2_3.offsetWidth - tab_3.scrollLeft <= 0){
							tab_3.scrollLeft -= tab1_3.offsetWidth;
							}
							else{
							tab_3.scrollLeft++;
							}
							break;
						case "right":
							if(tab_3.scrollLeft <= 0){
							tab_3.scrollLeft += tab2_3.offsetWidth;
							}
							else{
							tab_3.scrollLeft--;
							}
							break;
						}
					}
					function changeDirection(dir){
						direction = dir;
					}
					var timer = setInterval(marquee_3,speed_3);
					tab_3.onmouseover = function(){clearInterval(timer);};
					tab_3.onmouseout = function(){timer = setInterval(marquee_3,speed_3);};
					leftDir.onclick = function(){changeDirection("left");};
					rightDir.onclick = function(){changeDirection("right");};
          </script>
						</div>
					</div>
					<!--学员图片-->

					<!--add begin-->
					<iframe id="stuContent" src='<{:U("studentInfo")}>'
						class="iframeStudent" frameborder=0 scrolling="no"></iframe>

					<script type="text/javascript">
          	function changeIframe(surl){
          		surl="employStudentFeelingMsg.html#"+surl;
          		$("#stuContent").attr("src",surl);
          	}
          </script>
				</div>
			</div>
		</div>

	</div>
</div>
</block>