<{//学生信息}>

<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>学员心得_果核科技</title>
<meta name="keywords"
	content="厦门android培训,厦门IOS培训,厦门安卓培训,厦门移动互联培训,厦门3G培训,果核科技" />
<meta name="description"
	content="果核科技 - 果核科技是一家移动互联网人才培训服务机构，提供“移动技术培训+人力资源服务+项目开发+移动人才校友网络”的系统服务体系。" />

<link rel="shortcut icon" href="__PUBLIC__/Resources/Images/Front/favicon.ico" />

<css href="__PUBLIC__/Resources/Css/public.css" />
<css href="__PUBLIC__/Resources/Css/main.css" />
</head>
<body>

	<div class="main iframeMain">
		<div class="wrap clearfix">
			<div class="contentWrap">
				<div class="contactUsBox">
					<div class="starTeacher">

						<!--add begin-->
						<a name="huangyr"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/huangyr.jpg" alt="黄*荣">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>黄*荣</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门智美合
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">来果核培训之前，我干过销售、做过SEO网站优化两份工作。工作了3年，觉得没什么进步，人生觉得非常迷茫。一直在考虑转行，但是却犹豫不决。后来一次偶然的机会，来果核参加技术交流讲座，老师们的精彩分享，让我找准了前行的方向，加入到果核移动大军中来，开始了我的安卓培训生活。</p>
									<p class="textIndent">4个月的学习，非常辛苦。每天除了在果核学习之外，下课之后，自己还要再花3个小时左右去复习和预习。如今，总算苦尽甘来，辛苦的付出，总算得到了回报。我已成功入职厦门智美合信息科技公司，从事安卓开发岗位，实现了我职业生涯的华丽转生。在此，感谢果核老师们及工程中心的技术人员给我的帮助。</p>
								</div>
							</div>
						</div>
						<a name="yequanxin"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/yequanxin.jpg" alt="叶*鑫">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>叶*鑫</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门米雀
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">来果核培训之前，我还是一名大四的学生。转眼之间，我已在果核培训了4个月并已成功就业。四个多月前，记忆犹新的还是开班时黄老师对我的一席话，虽然讲得时间不是很长，但对于我们这些刚从学校即将步入工作岗位上的学生来说，简直是一剂良药。俗话说：“玉不琢，不成器。”刚从大学校门走出来的我们过惯了在大学中慵懒散慢的生活，自身个性也得到了充分地展现，但当我们走进果核时，这一切都是那么地行不通。</p>
									<p class="textIndent">生活中，班主任的一席话，让我们深思。好高骛远是我们这代人的通病，总以为大学毕业应该找过好单位，干一份体面的工作。可现实的残酷很快让我们的梦想破灭了。回头看看我所经历的路，才知道脚踏实干才是真。脚踏实地，树立实干作风。天下大事必作于细,古今事业必成于实。虽然每个人岗位可能平凡，分工各有不同，但只要埋头苦干、兢兢业业就能干出一番事业。好高骛远、作风漂浮，结果终究是一事无成。</p>
									<p class="textIndent">因此，我决定真正静下心来，从小事做起，从点滴做起。一件一件抓落实，一项一项抓成效，干一件成一件，积小胜为大胜，养成脚踏实地、埋头苦干的良好习惯。</p>
									<p class="textIndent">如今，我已在米雀软件工作将近3个月。在果核的所学，在这里得到了充分的发挥，受到了公司领导的重视，同事的认可。在此，我非常感谢果核科技改变了我的人生。之前，大家经常说大学毕业即失业，但是我更想说：“在果核，入学即入职。”</p>
								</div>
							</div>
						</div>

						<a name="kongwj"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/kongwj.jpg" alt="孔*骏">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>孔*骏</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门视我科技
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">2013年6月毕业之际，我就开始疯狂的找工作之旅。我的专业是电子信息工程、想找相关领域的工作却总是与我失之交臂。但是我还是对自己很有信心，我投了很多简历,
										刚开始找工作的时候，抱着先就业再择业的想法，我不断的接纳着各类公司的邀约。但是在实际的面试经历中，内心的声音越来越强烈。虽然我是一名应届生，很多技术还不成熟，但是我还是想从事自己感兴趣的行业。</p>
									<p class="textIndent">因为对手机很感兴趣，所以我开始在网上搜索和手机开发相关的行业和公司，最终通过比较我顺利的得到了果核科技的面试通知，并接触到了果核做APP开发人员的面试，了解到了移动互联网这个行业。</p>
									<p class="textIndent">移动互联网行业是在我日常生活中体验深刻的一个行业。我作为一个用户，着实时时刻刻的在感受着移动互联给我生活带来的变化，这就是我毅然的选择进入这个行业的原因。</p>
									<p class="textIndent">果核科技作为移动互联网的人才输出基地，我很庆幸选择了他为我安排了职场之路。在果核的学习中并没有想象中的简单，我们需要写大量的程序、完成老师既定的成长目标。这也是对自己负责任的态度，我和同学经常凌晨还在完成作业。果核的老师教过我们一句话：学习就是不耻下问和无耻连环问的过程，所以果核的老师们是我们最大的骚扰对象。现在我顺利的毕业了，并且在果核的安排下顺利的进入了企业并在梦想的岗位上从事自己喜欢的工作。在这里，内心真的非常感谢果核的老师们，在我们不断的学习中给与我们的帮助。</p>
									<p class="textIndent">选择就是一次竞赛，我选择了在起跑线上出发，如今我已经在梦想的路上走远，感恩那些帮助我的人、感恩果核的老师、感恩果核的同学们伴随着一起成长！</p>
								</div>
							</div>
						</div>

						<a name="aoran"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/aoran.jpg" alt="敖*">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>敖*</strong>iOS开发工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门果核科技
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">来果核学习之前，曾今在移动公司工作过一段时间，但是不适应那里的工作氛围，成长空间小，工作岗位薪酬与期望值差距大，考虑要换一份工作，就在厦门人才网广告栏看到果核免费体验课后，参加了黄凯伟老师的试听课，老师总能深入浅出地解答各种编程难题，让我有信心挑战“程序猿”的工作。</p>
									<p class="textIndent">在果核的学习让我受益匪浅，不仅让我掌握了扎实的专业知识，还成功帮助我就业。以下是我在果核4个多月学习的感触。</p>
									<p class="textIndent">首先是学习思路，果核合理的课程安排是我们高效学习的保障。这段时间果核的老师教给了我们很多，他们不像学校的老师那样照着课本讲知识点，说实话那样我们也学不到什么真正的技术，而是一群有着丰富经验的老师在一起研究最新的技术和最新的教学方法后，再传授给我们技术，这样的教学方法对我们非常有帮助。老师教我们软件开发的整个思路，教我们什么地方用什么技术，教我们怎么去分析问题，教我们该怎么根据客户要求架构我们的项目。这些都是我们最需要的，有了这些我们才会明白需要去学什么。黄老师经常要求我们要有规律的作息时间，也是为了提高我们的学习效率。</p>
									<p class="textIndent">再说既然选择了软件这一行就必须多学，毕竟这个行业是不断革新的。在果核的指导下我明白了学好编程不是靠看书的，而是靠写代码；只有写得多了才更好
										理解每个对象、每个方法的用法，更重要的是理解其中的设计思路；只有写多了才能明白什么是设计模式，这些都是看书学不来的。在第一个月的基础学习中我把老师布置的每个小程序都精心分析、设计和开发了一遍。看着自己敲出的一行行代码，心里颇有成就感。</p>
									<p class="textIndent">最后，我非常感谢果核的老师及工作人员，祝福曾经学习的同学们工作愉快！后面的同学加油学习！只要你们努力，肯定会有回报的！</p>
								</div>
							</div>
						</div>

						<a name="zhangJ"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/zhangJ.jpg" alt="张*">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>张*</strong>iOS开发工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门果核科技
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">果核工程中心的iOS工程师是我的第一份工作，从果核的学员身份升级为果核的职员，让我有成长的深刻体会。来果核学习之前曾参加考研，但是失利了也觉得不适合自己，于是考虑找一份自己感兴趣的且与软件开发相关的工作。自己没有这方面的基础，看到了果核有零基础培训+100%高薪就业，就下决心到果核学习。</p>
									<p class="textIndent">开始学肯定会有很多疑惑，首先上课的时候必须认真听讲，如果你不好好听课，后面的学习中你会很吃力。其次每天放学后不要急着放学回家，要把老师白天讲的代码都敲一遍，有时候那些代码看起来很简单，根本不用浪费时间去敲，如果你这样想，那么你就错了。其实在你敲代码的时候会遇到很多问题，这就为什么老师经常告诫我们，上完课后一定要把当天的代码认真地敲一遍，不要眼高手低，代码敲得多了自然而然地就懂了，问题也就迎刃而解了。</p>
									<p class="textIndent">然后有句古话叫“早起的鸟儿有虫吃”。每天早上上课前都要把昨天学的知识看一遍，把代码再敲一敲。同时也预习一下今天要学的内容。如果不预习，在课堂上老师会讲很多东西，你来不及去思考，有些问题不能及时得到解决，弄得你很被动，这样一天下来你肯定会很郁闷。</p>
									<p class="textIndent">在这几个月里，让我学会了如何与同学们交流，让我知道了团队合作的重要性。做项目不但是对你以前学的知识的一个总结，也是你学习的一个机会，以前你不会的知识在这时候你都会得到答案。做项目时别忘了相互交流，遇到问题要及时沟通解决。</p>
									<p class="textIndent">感谢果核的全体老师及同学，是你们助我成长，让我学到了很多知识，身为果核人，我很自豪！</p>
								</div>
							</div>
						</div>

						<a name="huangxh"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/huangxh.jpg" alt="黄*慧">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>黄*慧</strong>iOS开发工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门麦秸软件
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">我来果核学习前曾在恒安纸业工作一年，一直对软件开发这一领域感兴趣，但没有这方面的基础知识，在浏览厦门人才网时，看到果核科技招聘软件工程师，通过跟工作人员的交流，了解到了移动互联的无限前景，而且果核科技是零基础培训+100%高薪就业，经过再三考虑跟比较，决定到果核培训，于是开始了高效学习和高薪就业之旅。</p>
									<p class="textIndent">现在回想起来，当初在果核学习的4个多月蛮充实的。每天大家都在拼着学习，都在进步着。俗话说师傅领进门，修行在个人。我觉得我在果核学到了不少东西，没有在果核的学习，我可能还跟当初一样，基本上没有什么信心去找开发类的工作，在果核学习完之后，我有了自信，我觉得我能够胜任软件开发的工作了。</p>
									<p class="textIndent">通过四个月的学习我有以下几点收获：</p>
									<p class="textIndent">1.多向老师、同学虚心请教，也别说自己学的不怎么样，不然会大大减少自己的自信，从而与大家的差距越来越大。</p>
									<p class="textIndent">2.课堂上的代码，下课或者晚上一定要自己敲，最好经过问同学和老师的方式了解程序的实现和需求，这样在实际操作时就会更有调理，而且避免遗漏知识点。</p>
									<p class="textIndent">3.做任何项目都离不开团队合作。所以我们一定要有团队合作意识，多和小组内的人交流。</p>
									<p class="textIndent">4.在编程中一定要规范，绝对不可以随性，程序中容易出错的地方，自己一定要做笔记以便于以后做回顾。</p>
									<p class="textIndent">5.技术一定要学扎实，这个对后期的就业有很大的关系。</p>
									<p class="textIndent">努力了总会有回报的，希望现在在果核学习的，以及即将要来到果核学习的同学们，能够努力学习，达到自己的目标。希望就在前方，思想有多远，我们就能走多远，大家一起加油！！</p>
								</div>
							</div>
						</div>
						<!--end-->
						<!--add begin-->
						<p>
							<a name="zhangyicheng"></a>
						</p>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/zhangyicheng.jpg" alt="张*诚">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>张*诚</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>维码科技
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">今天，我开始在维码科技智能家居部上班了。上班第一天感觉还不错，公司环境很好，坐落于依山傍海的珍珠湾软件园，我的座位抬头就能看到大海和巍巍南太武山。而且就在我母校的隔壁，离我住的地方就三站。部门的同事也很热情很随和，耐心地跟我介绍项目，提供相关资料。</p>
									<p class="textIndent">2013.03.18进入果核学习，2013.07.19日于果核GA03班毕业。两周内收到8家公司的面试通知，知名的有星网锐捷（在福州，未去面试）、网宿科技（未去面试）、同步网络，实际面试4家公司，收到2个offer。厦门维码科技和厦门广播电视数字工程公司的offer，不习惯广电的国企氛围，最终选择维码科技。</p>
									<p class="textIndent">在这里，首先感谢果核执行董事，我的直系学长黄凯伟老师。当时我原来所在的太阳能公司转型，我从原来的工程师沦为一名文员。于是想重拾软件开发，可是我已经快两年不碰程序了，大学里学的那点可怜的软件开发的东西已几乎丢光了。由于自己储蓄不多又不想问家里要钱，本想放弃来中心学习靠自学“成才”，是黄老师亲自打电话开导我、鼓励我。要不是黄老师的那个电话，我可能现在还在黑暗中摸索。</p>
									<p class="textIndent">其次，要感谢悉心指导我们GA03班的张老师、白老师（老白）、胡老师。感谢张老师用一个月时间让我巩固了java基础，是那个每天晚上写作业的一个月，让一个两年没碰过程序的人又开始会写程序了。感谢白老师风趣幽默地教授我们android课程，带我们步入了android开发的殿堂，亦师亦友，知识渊博，机智幽默的老白是同学们最喜爱的老师；感谢胡老师不厌其烦地为同学们解决各种接口问题和bug，胡老师是最可爱的正太。</p>
									<p class="textIndent">再次，感谢班主任林老师，组织我们每周三的篮球活动，让我们劳逸结合；他时常的鼓励，让我们不要放松学习；精心地就业指导，让我们自信面对求职；同时也感谢校长、邱老师及其他果核的老师。</p>
									<p class="textIndent">一起学习的同学，一起奋斗过的战友。找到工作的要努力工作，还要坚持学习；尚未求职成功的要再接再厉，把简历、笔试、面试的准备工作做足，机会总会来的。</p>
								</div>
							</div>
						</div>
						<!--end-->

						<a name="chenwenchun"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/chenwenchun.jpg" alt="陈*纯">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>陈*纯</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门果核科技
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">转眼间，我在果核科技学习已过了4个多月了，经过这段时间的学习，我想每一位学员都会有不同的收获，我也不例外。在这里学习，每一堂课、甚至于每时每刻、都会让我有所触动和收获。</p>
									<p class="textIndent">说起我的软件开发之路，颇具戏剧性。我一直对软件开发有兴趣，心想着到了大学当然是报读跟软件开发相关的专业，结果阴差阳错被调配到了无机化工材料工程专业。到果核科技学习之前，我是一名在车间负责玻璃生产的无机化工材料员，4年以来一直做着这份自己不感兴趣的工作，心里对软件开发一直念念不忘。工作之余，我时刻关注移动互联行业的信息，渴望能够从事一份软件开发工作。在浏览人才网信息时，看到了果核科技招聘Android、iOS工程师，而且又有零基础培训跟包就业，就抱着试一试的心态参加了果核的免费体验课，这就开始了我在果核的学习跟工作之路。</p>
									<p class="textIndent">我为什么会选择果核科技呢？首先，果核在软件开发技能培训中重点强调的就是“实际工作能力”的培养，它让学员学到的是一种实际需要的技能，而非纯粹的理论知识。我个人觉得在当今的社会上，有一技之长是十分重要的。其次，果核可以使我们早日踏进社会，积累工作经验，而且会尽力帮我们找到一份合适的工作，面对当前如此严峻的就业形势，不得不说在果核学习对我们是一个绝大的优势。</p>
									<p class="textIndent">在果核学习的这段日子里，我觉得学习的负担并不会太重，但由于初次接触编程，没有任何基础，所以起初也不太适应，但经过一段时间的学习，在老师热心的辅导跟同学的帮助下，很多困难都迎刃而解，也逐渐适应了。我觉得学习编程最重要的是练习，俗话说“熟能生巧”。的确，一开始的时候，我只顾看书，并没有太多上机练习，结果学完的知识总是很快就忘了，后来我才逐渐意识到练习的重要性。另外，我了解到了预习的重要性，每个人对新的事物都会感到陌生和害怕，这是人的本能，我们想对这些新知识不畏惧，最好的方法莫过于预习了，每次上课后不仅要温习，更加要预习，先温习后预习，这是我一贯的学习作风。尽管预习经常会有不明白的地方，但你依然要去看，把问题记下，第二天带着问题上课，这样往往就能事半功倍，让你学得更好！</p>
									<p class="textIndent">在果核学习也让我找到了一些志同道合的朋友。每周三我都和同学们去打篮球，每周五都出去聚餐。在紧张的编程学习之余，我们能劳逸结合，又增加彼此的感情，身在果核这个大家庭，让我觉得很温暖。</p>
									<p class="textIndent">时间稍纵即逝，培训学习在我们的恋恋不舍中敲响了结尾的钟声。对于这几个月的培训课程，我想我只能用受益匪浅这四个字来形容了。老师们的博文广识、生动讲解、精彩案例无不在我的脑海里留下了深刻的印象，我只恨自己才疏学浅、文笔糟糕，不能够将所有的感触都通过文字显然于纸上。</p>
									<p class="textIndent">感谢果核让我成长，我也会尽我所能助果核发展！</p>
								</div>
							</div>
						</div>

						<a name="chenbaotao"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/chenbaotao.jpg" alt="陈*涛">
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>陈*涛</strong>iOS工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门拓客网络科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>6000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">来果核之前我是做单片机开发的，主要是以C语言开发为主，薪资只有4000并且加班非常严重。这个行业有局限性，所以我考虑嵌入式以及iOS这块的发展。一次偶然的机会，我参加了果核的免费公开课，更确定了自己对iOS开发的兴趣以及iOS软件开发工程师的无限前景。</p>
									<p class="textIndent">在果核学习了差不多四个月，感谢果核老师们给我的帮助，让我终身受益。
										来果核学习是一个偶然的机会，去果核试听了一次公开课，这就开始了我的果核学习之旅。</p>
									<p class="textIndent">果核就像一个大家庭，回忆在果核学习期间，我和每个学员勤奋刻苦，每天认真完成老师要求需要做完的习题和作业，每个人都有份钻研到底的执着之心。老师清晰的解题思路也如电影般深刻并一幕幕在脑海里放映。在老师的提点和同学间不断的讨论中，我的编程技能也突飞猛进了。此外，还认识了一些志同道合的朋友，感谢他们在学习和生活中给我的帮助，这些都是我在成长道路中的获得正能量！</p>
									<p class="textIndent">在果核学习的这段时间，我最大的感触是：坚持就是胜利！只有启程，才会到达理想和目的地，只有拼搏，才会获得辉煌的成功，只有播种，才会有收获。只有追求，才会是堂堂正正的人。再一次感谢果核科技给我一个良好的学习平台，让我在还未毕业就拿到工作的高新OFFER；感谢果核老师的细心辅导！感谢果核同学们的相互帮助！衷心祝愿果核科技越来越好！</p>
								</div>
							</div>
						</div>

						<a name="student1"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student1.jpg" alt="李*" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>李*</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门舜亚科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">回顾我找工作的历程，我觉得，想找工作并非像想象中的那么难于上青天，但是想找个自己满意的却很难，厦门果核科技移动互联培训中心，终于让我的梦想成为现实。</p>
									<p class="textIndent">我之前一直在做市场营销的工作，一做就是四年。但是我本身的性格比较内敛，而且比较喜欢技术的东西。所以在市场上工作我觉得很痛苦。</p>
									<p class="textIndent">怀着一份对It行业，甚至直接点来说对安卓的一份浓厚的兴趣，我报名参加了厦门果核科技的安卓培训班，四个月的时间过去了，由于老师们的认真授课，课后仔细的辅导，加上自身的认真、努力，现如今终于有能力找到一份自己满意的工作了。总的来说，还是感谢果核科技给我一个良好的学习平台，感谢果核老师的细心辅导！</p>
									<p class="textIndent">对于我来说，这是一个行业乃至岗位的转变，这是一个重要的决定，但是我做对了，因为我的人生开始了新的启程！感谢果核科技！</p>
								</div>
							</div>
						</div>

						<a name="student2"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student2.jpg" alt="赖*瀚" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>赖*瀚</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门舜亚科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">不久前，我还是厦大一名大四的应届生。当时很迷茫，不知道自己之后的职业规划。为了自己职业发展的起点，我看重安卓开发的前景，来到果核科技进行移动互联的开发学习。在这期间，同学与老师之间像朋友一样，这点让我感到很温暖！</p>
									<p class="textIndent">在为期三四个月的学习中，我学到的不仅仅是安卓开发方面的专业知识，更让我学到了其他的不能传授的经验，在这里我感受到了安卓的神奇力量，了解到了不断学习的重要性，更明白了团队合作的重要性。</p>
									<p class="textIndent">现在我还有3个月就要毕业了，但是在果核四个月的学习，让我顺利的在厦门舜亚科技找到了工作。很感谢果核科技让我的脚步比我的同学们快。同时我们说学以致用，3月7日的厦大女生节，我利用我在果核学习的知识，自主开发了许愿树的手机应用，当时在学校引起了很多人的下载，同时也有很多媒体的报道。近期还有投资人找到我看是否有机会投资。</p>
									<p class="textIndent">我想说我也是一名普通的应届毕业生，只是我提前为自己做了一个不错的职业规划，让我们的人生从此改变！最终还是要感谢果核科技为我们的职涯指出了一条明道！</p>
								</div>
							</div>
						</div>

						<a name="student3"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student3.jpg" alt="陈*辉" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>陈*辉</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>4399网络股份有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>5000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">求职的这条征程是艰辛与无奈的，我一到社会上我就有了严重的危机感，很难接受这样的社会现实，。怀揣着对未来的憧憬，我来到了果核科技开始了我们的转行之旅。刚开始在果核学习专业技能觉得很难，很多东西不懂，后来果核的老师给我逐个辅导，让我在果核依然不掉队，坚持把所有的专业课及实训完成，并顺利毕业。</p>
									<p class="textIndent">现在我已经在4399工作了！公司老板对我们很好，同事之间相处融洽，很有凝聚力。学无止境，在这里我依然能学到很多东西，我打算在公司好好磨练自己，发挥出自己的力量，为公司带来更多利益。很感谢果核带我入门，就业的林老师给我推荐了这家好公司，感谢果核！</p>

								</div>
							</div>

						</div>

						<a name="student4"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student4.jpg " alt="郑*忠" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>郑*忠</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门铂信动漫科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4500
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">来果核学习之前，我有些忐忑，后来自己对移动互联网这个大产业了解得多了，也就越来越有信心了。在学习过程中，也有难点，比如设计模式总是想不好，一开始觉得把握不到它的精髓，不能让自己满意。但正所谓熟能生巧，随着老师的提点和同学间不断的讨论，我终于在这方面有了很高的提升，这也说明了，只要你肯学，就一定能做到！</p>
									<p class="textIndent">这4个月的学习是艰难的同时又是快乐的。在学习中曾迷茫过、曾想放弃过，那时真的不知道该怎么继续下去，该怎样去解决。选择快乐就选择了坚强，首先我要调整好自己的心态，我发现同学的笑容是那么的有感染力，老师关心的力量是那么的不可估量，这是一个渐进的过程需要的是时间和温暖，也许我是一个幸运的人，在这样温馨的氛围中我很快的有了信心有了勇气，在以后的生活中更觉得的这段时间是丰富多彩的。</p>
									<p class="textIndent">在不知不觉中我们已经完成了四个月的培训，在还没有褪去记忆里相逢的色彩，耳边却已响起了离别的歌谣。四个月的时间虽然短暂，但在我心里却如曲水流长婉转，脑海中留下的点滴痕迹也似萤火中般醒目难忘。</p>
									<p class="textIndent">衷心的祝愿果核科技越来越好！</p>
								</div>
							</div>
						</div>

						<a name="student5"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student5.jpg " alt="吴*福" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>吴*福</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门铂信动漫科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4500
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">刚从学校毕业的我，对未来感到迷茫，在朋友的推荐下，我参加了果核科技的安卓培训课程，并对软件行业产生浓厚兴趣。</p>
									<p class="textIndent">跟许多同学一样，刚开始学习编程确实遇到很多难题，但是在老师的热心辅导和同学们的帮助下，问题总能迎刃而解，开始对着代码觉得有点烦，感觉是为了完成任务拼命的写。当看着自己写出来的代码变成一个个华丽的小应用程序出现在我面前时，总会无限成就感涌上心头，往后的日子里，每天都会有所进步，但再也不会感到枯燥乏味了，因为我相信“有付出就有收获”。</p>
									<p class="textIndent">很感谢果核的各位老师，果核毕业后，我顺利的就业了！</p>
								</div>
							</div>

						</div>

						<a name="student6"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student6.jpg " alt="陈*宏" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>陈*宏</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>厦门小鱼网
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">来果核之前，我很迷茫！不知道什么职业适合自己，也不知道自己能干什么样的职业！来了果核后，基于对互联网的热爱，我开始接触安卓的手机应用开发并深入的学习。</p>
									<p class="textIndent">在果核的学习中，老师很严格。每天老师都有要求需要做完的习题和作业，但是当自己能全部独立完成时又非常快乐。在这个过程中，自己的技术就在一点点进步。毕业后，我的就业林老师把我推荐到小鱼网，很高兴，我在一个全新的行业，全新的岗位上开始了我的安卓工程师的职业生涯。有人问，当初为什么改行？其实只要自己有想改变的想法，付诸行动的去改变，那就真的人生有变化！谢谢我自己，也谢谢果核一起助我的成长！</p>
								</div>
							</div>
						</div>

						<a name="student8"></a>
						<div class="starTeacherItem clearfix">
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student8.jpg " alt="肖*鑫" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>肖*鑫</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>锐骐（厦门）电子科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">大家总说一只脚踏进名牌大学就是找到了一半的好工作。我一直不相信这种说法，虽然我毕业于漳州职业技术学院，但是大学期间我很努力学习，最终我如愿进入了纵横集团。进入公司后，与名牌大学毕业生技术上的差异开始显现，于是我只能做了一年的数据维护工作。</p>
									<p class="textIndent">我有一颗不服输的心，我想当自己人生的主角。经过多方打听，我来到了果核。在这里，我成为了班长。我慢慢地学会把自己之前的工作经验与别人分享，每天跟同学们交流学习成果。这种分享让我们彼此都进步得更加快速！四个月的时间，我接触到的技术不断的增多，这也给我提出了更高的要求，更大的挑战。感谢你，果核！因为来到这里，我的路才更宽、更平坦，离我的目标也越来越近了！</p>
								</div>
							</div>
						</div>


						<div class="starTeacherItem clearfix">
							<a name="student9"></a>
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student9.jpg " alt="陈*源" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>陈*源</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>锐骐（厦门）电子科技有限公司
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">大学四年，我在重庆邮电大学学习信息法学专业。自然，去年毕业后我回到厦门从事了法务专员工作。经过3个月的实践，我深知这不是我想走的路，我喜欢互联网行业！恰巧，朋友中就有果核的一名学员，他跟我说果核的教学质量还是蛮靠谱的。抱着试一试的心态，去果核试听了一次公开课，这就开始了我的果核学习之旅。</p>
									<p class="textIndent">由于我之前并没有什么编程基础，学习过程的辛苦和艰辛可想而知。不得不说，果核就像一个大家庭，老师、学员之间相处的很融洽，他们在我最困难的时候，给予我很多鼓励和力量，让我以从一个门外汉摇身一变IT工程师，这种蜕变的喜悦无法言喻。</p>
									<p class="textIndent">现在，我在锐骐（厦门）电子科技有限公司担任安卓工程师一职，我希望能在自己的岗位能够大放异彩。我是果核人，我为自己代言！</p>
								</div>
							</div>
						</div>


						<div class="starTeacherItem clearfix">
							<a name="student10"></a>
							<div class="teacherPicBox left">
								<div class="studentPic">
									<img src="__PUBLIC__/Resources/Images/Front/student/student10.jpg " alt="张*鸿" />
								</div>
							</div>
							<div class="noRound pl20 pr10">
								<p class="starTeacherName">
									<strong>张*鸿</strong>安卓工程师
								</p>
								<div class="starStudentAboutBox">
									<p>
										<span class="bold">就业公司：</span>正航软件
									</p>
									<p class="pt10">
										<span class="bold">入职薪资：</span>4000
									</p>
									<p class="pt10">
										<span class="bold">心得体会：</span>
									</p>
									<p class="textIndent">我是华侨大学2009级工业设计（数字工程动画方向）的应届毕业生，在刚出来实习初期，我就感受到了巨大的压力！这种压力源自我不扎实的专业知识，我不知道我可以从事什么工作，看似万金油，却都是半桶水……</p>
									<p class="textIndent">家人劝我沉下心，学好专业知识再求职。经过一番挣扎和深思熟虑，我最终决定要学习移动互联手机应用开发！现在手机移动互联的发展速度飞快，若能赶上这个好时机，不仅工作不用发愁，也许以后自己还能创业！</p>
									<p class="textIndent">一份耕耘，一份收获！在果核毕业后，经过层层面试，我被输送到正航软件担任安卓工程师。分享一下我在果核学习的经验：1.
										在学习中，一定要养成勤练习，勤总结，勤思考的习惯。2.在课堂上讲得内容，要是听有不明白或不清楚的，多问；3.尽量做到举一反三的思考。
										感谢果核帮助我找到了方向，让我对未来的规划更加明晰！</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


</body>
</html>